.uuid {
  background-color: lightgray;
  border-radius: 5px;
  max-width: 500px;
  min-height: 20px;
  text-align: center;
  font-size: 24px;
  color: black;
  border: white solid 2px;
  margin-bottom: 10px;
  padding: 10px;
  @media screen and (max-width: 700px) {
    font-size: 16px;
    display: block;
  }
}

mat-card {
  max-width: 620px;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  @media screen and (max-width: 700px) {
    font-size: 16px;
    display: block;
    padding: 10px;
  }
}

h1 {
  text-align: center;
  @media screen and (max-width: 700px) {
    font-size: 1.6em;
  }
}

mat-spinner {
  margin: auto;
}

a {
  color: white;
}
