$break-point: 626px;

.spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

a.active {
  color: yellow;
}

li {
  list-style: none;
  display: inline;
  margin: 5px;
  @media screen and (max-width: $break-point) {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: white;
}

.lightning {
  @media screen and (max-width: $break-point) {
    display: none;
  }
}
