<!-- The content below is only a placeholder and can be replaced. -->
<div class="flex text-base sm:text-xl font-medium py-4 bg-fuchsia-700 text-white px-4">
  <a [routerLink]="['/v/4']"><span>⚡ UUID Generator <span
            class="hidden sm:inline">⚡</span></span></a>

  <!-- This fills the remaining space of the current row -->
  <span class="flex-grow"></span>
  <nav>
    <div>
      <a [routerLink]="['/v/1']" routerLinkActive="text-teal-400">UUID V1</a>
      <a [routerLink]="['/v/4']" routerLinkActive="text-teal-400">UUID V4</a>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
<div class="text-center mt-8">
  <div>
    By <a href="https://accelery.be/" target="_blank">Accelery</a>
  </div>
</div>
